.contient{
    margin-top: 100px;
}
.add{
    font-family: "PT Mono";
    font-size: large;
    margin-right: 20px;
}
.client{
    margin-left: 20px;
    font-size: large;
    font-family: "PT Mono";
    color: dimgrey;
}
th{
    font-size: 15px;
}

@media (max-width: 992px) {

    th{
        font-size: 13px;
    }
}

@media (max-width: 768px) {

    th{
        font-size: 12px;
    }
}
@media (max-width: 576px) {

    th{
        font-size: 8px;
    }
}
