.contient{
    margin-top: 100px;
}
.add{
    font-family: "PT Mono";
    font-size: large;
    margin-right: 20px;
}
.provider{
    margin-left: 20px;
    font-size: large;
    font-family: "PT Mono";
    color: dimgrey;
}










