img {
    max-width: 100%; height: auto;
}
.backgrou {
    background: url("../images/home.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


a, u {
    text-decoration: none; !important;
}
a {
    text-decoration: none !important;
}
.my{
    color: black;
    font-family: Geneva;
    font-size: x-large;
}
.store{
    margin-right: 20px;
    color: white;
    font-family: Geneva;
    font-size: x-large;
}
.signup,.signin,.contactus{
    color:white;
    font-family: Monaco;
}
.signin:hover,.signup:hover,.contactus:hover{
    color: white;
}
.createyourown{
    color: aliceblue;
    font-size: xxx-large;
    font-family: 'SF Mono';
}
.create_div{
    padding:2px 0;
    height:40px;
    border-radius: 15px;
    text-align:center;
    background: #363636;
    width: 300px;
}
.create_a{
    color: white;
    font-size: x-large;
    font-family: 'SF Mono';
    text-decoration: none !important;
}
.create_a:hover{
    color: white;
}
.centre{
    height: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.beautiful{
    font-family:'Helvetica Neue';
    font-size: 45px;
}
.nodesign{
    font-family: 'Helvetica Neue';
    font-size: 20px;
}
.ecommerceimage{
    width: 700px;
    height: 500px;
    border-radius: 10%;
}
.pentagon{
    clip-path: polygon(49% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.titles{
    font-size: 20px;
    font-family: 'SF Mono';
    color: white;
}
